<a href="https://colab.research.google.com/github/surajvarma1/2216182_AL-ML_Bootcamp_2023/blob/main/Bootcamp_Assign_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Methods of string with examples
txt="python is very important programming language"
print("txt=",txt)
print("some part print=",txt[3:9])
print("python"in txt)
print("the length=",len(txt))
string="   examples of string methods"
s1=slice(3)
print("s1=",string[s1])
s1=slice(1,5)
print("s2=",string[s1])
print("string=",string.upper())
print("string=",string.lower())
print("string1=",string.strip())

txt= python is very important programming language
some part print= hon is
True
the length= 45
s1=
s2=   ex
string=    EXAMPLES OF STRING METHODS
string=    examples of string methods
string1= examples of string methods

In [ ]:
# lists
l1=[10,11,12,13,15,16]
l2=["rajesh","rakesh"]
print("the length of l1=",len(l1))
print("the length of l2=",len(l2))
l3=[8,9,10]
print("the contanation=",l1+l3)
print("the repetition=",l2*2)
l4=['a','e','i','o','u']
print("checking of a in l4=",'l'in l4)
print("checking of a in l4=",'k'not in l4)
l1.append(0)
print("now l1=",l1)
print("all function for l1=",all(l1))
print("all function for l2=",all(l2))
l6=[550,568]
print("any function=",any(l6))
print("max value=",max(l6))
print("min value=",min(l6))
print("sum value=",sum(l6))

the length of l1= 6
the length of l2= 2
the contanation= [10, 11, 12, 13, 15, 16, 8, 9, 10]
the repetition= ['rajesh', 'rakesh', 'rajesh', 'rakesh']
checking of a in l4= False
checking of a in l4= True
now l1= [10, 11, 12, 13, 15, 16, 0]
all function for l1= False
all function for l2= True
any function= True
max value= 568
min value= 550
sum value= 1118

In [ ]:
#tupless
t1=(89,56,85)
t2=(72,89,90)
print("the length of t1=",len(t1))
print("the length of t2=",len(t2))
t3=t1+t2
print("the concant of t1 and t2=",t3)
print("the repitition=",t2*2)
print("checking element 89 in t2=",8 in t2)
print("all the operations in tuple=",all(t1))
print("min element=",min(t1))
print("max element=",max(t1))

the length of t1= 3
the length of t2= 3
the concant of t1 and t2= (89, 56, 85, 72, 89, 90)
the repitition= (72, 89, 90, 72, 89, 90)
checking element 89 in t2= False
all the operations in tuple= True
min element= 56
max element= 89

In [ ]:
#setss
s1={11,12,13,14,15,16}
s2={20,21,22,24,25,26}
print("s1=",s1)
print("s2=",s2)
s1.update(s2)
print("the set1(update)=",s1)
s2.add(11)
print("the set 2=",s2)
s2.remove(11)
print("the set 2=",s2)
s2.discard(25)
print("the set 2=",s2)
len(s1)
print("the length s1=",s1)
print("the intersection",s1.intersection(s2))
print("the difference=",s1.difference(s2))

s1= {11, 12, 13, 14, 15, 16}
s2= {20, 21, 22, 24, 25, 26}
the set1(update)= {11, 12, 13, 14, 15, 16, 20, 21, 22, 24, 25, 26}
the set 2= {11, 20, 21, 22, 24, 25, 26}
the set 2= {20, 21, 22, 24, 25, 26}
the set 2= {20, 21, 22, 24, 26}
the length s1= {11, 12, 13, 14, 15, 16, 20, 21, 22, 24, 25, 26}
the intersection {20, 21, 22, 24, 26}
the difference= {11, 12, 13, 14, 15, 16, 25}

In [ ]:
#arithemetic operations
x=int(input("enter the number"))
y=int(input("enter the number"))
print("x+y=",x+y)
print("x-y=",x-y)
print("x*y=",x*y)
print("x/y=",x/y)
print("x+y=",x+y)
print("x%y=",x%y)
print("x**y=",x**y)

enter the number4
enter the number6
x+y= 10
x-y= -2
x*y= 24
x/y= 0.6666666666666666
x+y= 10
x%y= 4
x**y= 4096

In [ ]:
#assign operators
a=int(input("enter the number"))
b=int(input("enter the number"))
# a = a + b
a += b
print(a)
a -= b
print(a)
a *= b
print(a)
a /= b
print(a)

enter the number34
enter the number67
101
34
2278
34.0

In [ ]:
#membership operators
string="membership operators in python"
print("in"in string)
print("ship"in string)
print("is"in string)

True
True
False

In [ ]:
# bitwise operators
a = 20
b = 8
# AND op
print("a & b =", a & b)
 
# OR operation
print("a | b =", a | b)
 
#bitwise NOT operation
print("~a =", ~a)
 
# print bitwise XOR operation
print("a ^ b =", a ^ b)

In [ ]:
#identity operators
a1=50
b1=54
a2=50
b2=20
print(a1 is a2)
print(b1 is b2)
print(a1 is not a2)
print(b1 is not b2)

True
False
False
True

In [ ]:
myStr = 'this is string'
print("String = ", myStr)
print("Reverse order of the String = ", myStr[::-1])
List = [12,13,14,15,16,17]
print("\nOriginal List:\n", List)
print("\nSliced Lists: ")
print(List[2:9:3])
# Display sliced list
print(List[::4])
# Display sliced list
print(List[::])

String =  this is string
Reverse order of the String =  gnirts si siht

Original List:
 [12, 13, 14, 15, 16, 17]

Sliced Lists:
[14, 17]
[12, 16]
[12, 13, 14, 15, 16, 17]

In [ ]:
print('a series of characters desginated as one object known as a string'[::-1][4::3])
print('a series of characters desginated as one object known as a string'[3::10][::-1])

taawkcbe  tiestrcoeea
n j dhe

In [ ]:
print("------------")
print('welcome to pythin traning program'[3:10][::-1])

------------
ot emoc

In [ ]:
str='was it a car or a cat i saw'[::-1]
print(str)
print(str.upper())

was i tac a ro rac a ti saw
WAS I TAC A RO RAC A TI SAW

In [ ]:
X=int(input())
Y=2*X
print('Z'*X+'O'*Y)

2
ZZOOOO